* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    height: 30px;
    padding: 10px;
    display: grid;
    place-items: center;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #ddd;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ddd;
}

#left > nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}

#left > nav a {
    text-align: left;
}

#left > nav > a:hover {
    background: lightgrey;
}

#contact {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

#right {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section {
    padding: 20px;
    margin-bottom: 25px;
}

.section-hdr {
    font-size: 32px;
    margin-bottom: 20px;
    color: #666;
}

/* ABOUT */

#about {
    position: relative;
}

.profile-cropper {
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 50%;
    background: lightgrey;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#profile {
    position: absolute;
    width: 300px;
    top: -40px;
    right: -10px;
}

.hero-text {
    width: 60%;
}

.hero-text-1 {
    font-size: 38px;
}

.hero-text-2, .hero-text-3 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 1.5em;
}

.hero-text-2 > strong {
    color: #333;
    position: relative;
    border-bottom: 4px solid darkgrey;
}

/* --- EDUCATION --- */

#edu-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#edu-section p {
    font-size: 0.9em;
}

/* --- SKILLS --- */

#skill-section{
    padding: 10px;
    display: flex;
    height: max-content;
    width: 100%;
    margin: 0;
    height: 200px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}

#skill-list {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#skill-section h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: max-content;
}

#skill-section ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skill-hdr {
    display: block;
    list-style: none;
    margin: 5px 0;
    margin-right: 5px;
    padding: 5px 10px;
    color: #666;
}

.skill-item {
    display: block;
    list-style: none;
    margin: 5px 0;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
    background: #fff;
}

.skill-item:hover {
    cursor: pointer;
}

#skill-desc {
    width: 40%;
    padding: 25px;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    font-size: 2.0em;
    line-height: 1.2em;
    color: #666;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    position: relative;
}

#separator {
    left: 0;
    position: absolute;
    height: 80%;
    width: 1px;
    margin: 0 10px;
    background: grey;
}

#corner {
    height: 10px;
    width: 10px;
    position: absolute;
    background: #fff;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    top: calc(50% - 5px);
    right: calc(50% - 5px);
    transform: rotate(45deg)
}

/* --- PROJECTS --- */



#projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#projects .project {
    min-height: 250px;
    max-height: max-content;
    background: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 300px 1fr;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
}

.project-hdr, .project-description {
    padding: 20px;
}

.project-description {
    line-height: 1.5em;
}


.project-name {
    font-size: 18px;
    font-weight: 800;
}

.tech-stack img {
    width: 40px;
    margin-top: 20px;
}

/* --- CERTIFICATIONS --- */

.cert {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 80px;
    width: 500px;
    margin-bottom: 20px;
}

.cert-desc {
    position: relative;
    padding-left: 10px;
    line-height: 1.5em;
}

.cert-hdr img {
    width: 80px;
    padding: 10px;
    background: #0a0a23;
}

.cert-link {
    position: absolute;
    right: 0;
    bottom: 10px;
    line-height: 1em;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 8px 20px;
    height: 16px;
}


@media (max-width: 1100px) {
    .profile-cropper {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: auto;
        margin-bottom: 50px;
    }

    #profile {
        top: -15%;
        left: -5px;
        width: 280px;
    }
}



@media (max-width: 800px) {
    #container {
        grid-template-columns: 1fr;
    }

    #left {
        padding: 0;
    }

    #left > nav {
        flex-direction: row;
        justify-content: center;
        margin: 0;
        gap: 5px;
        width: 100vw;
        background: #ddd;
    }

    #left > nav > a {
        padding: 5px;
        font-size: 0.9em;
    }

    .hero-text {
        width: 100%;
    }

    #skill-section {
        flex-direction: column;
        width: 200px;
        height: max-content;
    }

    #skill-list {
        width: 100%
    }

    #skill-desc {
        width: 100%;
    }

    #contact {
        bottom: 15vh;
        position: fixed;
        flex-direction: column;
        background: #aaa;
        color: #333;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #left hr {
        display: none;
    }

    #left nav a {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        height: 60px;
        border-bottom: 5px solid lightgrey;
        width: max-content;
    }
    
    #left nav a:active {
        color: red;
    }      

    #left nav a:hover {
        border-bottom: 5px solid #666;
        background: initial;
    }

    #projects .project {
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
    }

    .cert {
        grid-template-columns: 1fr;
        width: 100%;
        height: max-content;
    }

    .cert-hdr img {
        width: 40px;
        margin-left: calc(50% - 25px);
    }
}